.frameCell {
	width: 20px;
	height: 20px;
	// height: auto;
	// aspect-ratio: 1 / 1;
	padding: 0;
	color: white;
	box-sizing: content-box;

	&:hover {
		// border: 1px solid rgb(150, 150, 150) !important;
		// cursor: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3Ccircle cx='10' cy='10' r='9' stroke='white' stroke-width='2' fill='none' /%3E%3C/svg%3E"),
		// 	move;
		// cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 512 512'%3e%3cg transform='rotate(45 256 256)'%3e%3crect id='r' x='16' y='216' width='480' height='80' rx='14'/%3e%3cuse href='%23r' transform='rotate(90 256 256)'/%3e%3c/g%3e%3c/svg%3e")
		// 		16 16,
		// 	move;
	}
}
